DIHEDRAL CONFIG

#files
input_plane: example_plane.avl

wing_aerofoil: example_wing_aerofoil.dat
elevator_aerofoil: example_tail_aerofoil.dat
fin_aerofoil: example_tail_aerofoil.dat

#dihedral parameters
angle_min: 0 deg
angle_max: 5 deg
increment: 5 deg

span_loc: 50 %

threads: 8
show geometry plot?: N (Y/N)
