TAIL CONFIG

#files
input_plane: example_plane.avl

wing_aerofoil: example_wing_aerofoil.dat
elevator_aerofoil: example_tail_aerofoil.dat
fin_aerofoil: example_tail_aerofoil.dat

#aircraft data "NA" if optimal CG required, not tail dims.
Xcg:    520    Lunit
Ycg:    0      Lunit
Zcg:    0      Lunit
mass:   10     kg

#solver inputs
Xt_upper:   1800    Lunit
Xt_lower:   800    Lunit
St_h_upper: 100000    Lunit^2 (Equivilent horizontal tail area)
St_h_lower: 400000     Lunit^2
Ct_v:       0.06    Lunit^2 (Equivilent vertical tail area = const.)

SM_ideal:   0.3
tolerance:  0.05

tail_config: 0          (0=conventional, 1=V)
b_th:       NA  Lunit   (Horizontal tail span, optional for V tail) (NA to ignore)

threads:    8
