__pycache__
AVL-automation/generated planes/
AVL-automation/cases/
AVL-automation/results/
AVL-automation/avl.exe
AVL-automation/NACA_0012H.dat
AVL-automation/NACA_2412.dat
AVL-automation/__pycache__/
legacy
AVL-automation/env