avl_automation/__pycache__
avl_automation.egg-info
dev_env
env
example/cases
example/generated planes
example/results
projects
scripts/__pycache__
scripts/cases
scripts/generated planes
scripts/results
