/__pycache__
/AVL_automation/generated planes
/AVL_automation/cases
/AVL_automation/results
/AVL_automation/avl.exe
/AVL_automation/NACA_0012H.dat
/AVL_automation/NACA_2412.dat
/AVL_automation/__pycache__
/build
/dist
