TAIL CONFIG

#files
input_plane: example_plane.avl

wing_aerofoil: example_wing_aerofoil.dat
elevator_aerofoil: example_tail_aerofoil.dat
fin_aerofoil: example_tail_aerofoil.dat

#aircraft data "NA" if optimal CG required, not tail dims.
Xcg:    520    mm
Ycg:    0      mm
Zcg:    0      mm
mass:   10     kg

#solver inputs
Lt_upper:   1556    mm
Lt_lower:   800    mm
St_h_upper: 0.1     m^2 (Equivilent horizontal tail area)
St_h_lower: 0.3     m^2
b_th:       -       mm (Horizontal tail span)
St_v:       0.06    m^2 (Equivilent vertical tail area = const.)
points:     10

SM_ideal:   0.3
tolerance:  0.05

tail_config: 1 (0=conventional, 1=V)

threads:    8
